body{
    height: 480px;
    width: 475px;
    background-color: black;
    margin: 100px auto;
}
.main{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    .blur{
        color: rgba(0, 0, 0,0.2);
    }
    .numbers{
        font-weight: bold;
    }
    .color{
        background-color: white;
    }
    .inp{
        .input-text{
            text-align: right;
        }
        input{
            height: auto;
            font-size: 70px;
            width: 467px;
            border: none;
            margin-left: 2px;
        }
    }
    .first{
        display: flex;
        .DEG{
            margin: 15px 20px;
        }
        .F-E{
            margin: 15px 15px;
        }
    }

    .third{
        display: flex;
        align-items: center;
        .Trignometry{
            padding: 10px;
            
        }
        .Function{
            padding-top: -5px;
            padding: 10px;
            img{
                padding-top: 10px;
            }
        }
    }
    table{
        tr{
            td{
                button{
                    // border: none;
                    font-size: 1em;
                    height: 50px;
                    width: 90px;
                    // font-weight: bold;
                }
            }
        }
    }
    
}