body{
    height: 480px;
    width: 565px;
    background-color: black;
    margin: 100px auto;

}
.main{
    font-family: 'Inconsolata', monospace;
    // font-family: 'Kanit', sans-serif;
    background-color: rgb(15, 189, 241);
    border-radius: 5px;
    padding: 10px;
    margin-right: -18px;
    .blur{
        color: rgba(0, 0, 0,0.2);
    }
    .numbers{
        font-weight: bold;
    }
    .color{
        background-color: white;
    }
    .inp{
        .input-text{
            text-align: right;
        }
        input{
            font-family: 'Inconsolata', monospace;
            border-radius: 5px;
            height: auto;
            font-size: 70px;
            width: 550px;
            // border: none;
            margin-left: 2px;
        }
    }
    .first{
        display: flex;
        .DEG{
            margin: 15px 20px;
        }
        .F-E{
            margin: 15px 15px;
        }
    }

    .third{
        display: flex;
        align-items: center;
        .Trignometry{
            padding: 10px;
            
        }
        .Function{
            padding-top: -5px;
            padding: 10px;
            img{
                padding-top: 10px;
            }
        }
    }
    table{
        tr{
            td{
                button{
                    border-radius: 5px;
                    // border: none;
                    font-size: 1em;
                    height: 50px;
                    width: 90px;

                    font-size: 1.3em;
                }
                button:hover{
                    background-color: rgb(255, 252, 53);
                }
            }
        }
    }
    
}