<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      var settings = {
        url: "http://127.0.0.1:8000/api/quiz",
        method: "GET",
        timeout: 0,
        headers: {
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjg0MTg3NzYyLCJpYXQiOjE2ODM4ODc3NjIsImp0aSI6IjhjODBkMjM4MjhiMTRmMzA5OTM0ZTMxNDNlNmFiMWY1IiwidXNlcl9pZCI6MX0.3Q1qT22epDC87qPOVWCq5FGldwcuRl-XhwlwCi1ik78",
        },
      };


      $.ajax(settings).done(function (data) {
        for(var i=0;i<data.length;i++)
        {
            var id = data[i].id
            $(".my").append("<a href='{% url 'quiz' pk=1 %}'>Link</a>".replace(/1/, id.toString()))
            var item = $(`
                <h1> Quiz Name- ${data[i].name}</h1>
                <h2>Total Questions- ${data[i].total_question}</h2>
                <h2>Total time- ${data[i].time}</h2>
                <h2>Subject- ${data[i].subject}</h2>
                <h2>Difficulty- ${data[i].difficulty}</h2>
                <h2>Total Marks- ${data[i].total_marks}</h2>
                
                <hr>
            `)
            $(".my").append(item)
            
        }
      });

     
    </script>
  </head>
  <body>
    <div class="my"></div>
  </body>
</html>
