{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="crossorigin="anonymous"referrerpolicy="no-referrer"></script>
    <script src="{% static 'clock.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
      $(document).ready(function () {
        count = 0;
        total_score = 0;
        var option = [];
        
        $(".my").html(`<h1>Start the quiz </h1>`);
        $(".next").click(function (event) {
          count += 1;

          url =
            window.location.pathname.replace("quiz/", "api/quiz/") +
            "?page=" +
            count;

          $.ajax({
            url: url,
            method: "GET",
            timeout: 0,
            headers: {
              Authorization:
                "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjg0MTg3NzYyLCJpYXQiOjE2ODM4ODc3NjIsImp0aSI6IjhjODBkMjM4MjhiMTRmMzA5OTM0ZTMxNDNlNmFiMWY1IiwidXNlcl9pZCI6MX0.3Q1qT22epDC87qPOVWCq5FGldwcuRl-XhwlwCi1ik78",
            },
          })

            .done(function quiz(data) {
              
              // Triggered if response status code is 200 (OK)
              if (data) {
                var item = $(`
              <h1>Question- ${data[0].question}</h1>`);
                if (data[0].answer.length == 1) {
                  for (i = 0; i < data[0].options.length; i++) {
                    item.append(`<div><input type="radio" class='btn' id="r1" name="rate" value="${data[0].options[i].option}"> ${data[0].options[i].option}<br><hr></div>`);
                  }
                } else {
                  for (i = 0; i < data[0].options.length; i++) {
                    item.append(`<div><input type="checkbox" class='btn' id="r1" name="rate" value="${data[0].options[i].option}"> ${data[0].options[i].option}<br><hr></div>`);
                  }
                }
                $(".my").html(item);
                total_correct_answer = 0
                $(".btn").click(function (event) {
                  if (data[0].answer.length == 1) {
                    var option = $('input[name="rate"]:checked').val();
                    if (option == data[0].answer[0].answer) {
                      var alreadyClicked = $('.btn').hasClass('clicked');
                      if(!alreadyClicked){
                        $('.btn').addClass('clicked');
                        total_score += 1;
                      }
                    } else {
                      if (total_score) {
                        total_score -= 1;
                      }
                    }
                  } else {
                    function getCheckedBoxes(chkboxName) {
                      var checkboxes = document.getElementsByName(chkboxName);
                      var checkboxesChecked = [];
                      // loop over them all
                      for (var i = 0; i < checkboxes.length; i++) {
                        // And stick the checked ones onto an array...
                        if (checkboxes[i].checked) {
                          checkboxesChecked.push(checkboxes[i].value);
                        }
                      }
                      // Return the array if it is non-empty, or null
                      return checkboxesChecked.length > 0
                        ? checkboxesChecked
                        : null;
                    }

                    var checkedBoxes = getCheckedBoxes("rate");
                    
                    answer = data[0].answer;
                    answer_list = answer.map((item) => item.answer);
                    let allFounded = checkedBoxes.every((ai) =>
                      answer_list.includes(ai)
                    );
                    if (allFounded == true){
                      total_correct_answer += 1
                    }
                    if (total_correct_answer == data[0].answer.length) {
                      if (allFounded == true){
                        total_score +=1
                      }
                      if (allFounded == false){
                        total_score -=1
                      }
                    }
                  }
                });
              }
              setTimeout(() => {
                $(".my").html(
                  `<h1>Quiz ended <br><br><br>Score- ${total_score}</h1>`
                );
                $(".some_div").remove()
                $(".next").remove();
              }, 50000);
            })
            .fail(function () {
              // Triggered if response status code is NOT 200 (OK)
              $(".my").html(
                `<h1>Quiz ended <br><br><br>Score- ${total_score}</h1>`
              );
              $(".some_div").remove()
              $(".next").remove();
            });
        });
      });
    </script>
  </head>
  <body>
    <div class="container"></div>
    <div class="my"></div>
    <button class="next">next</button>
  </body>
</html>
